#desafio {
    overflow: hidden;
    position: relative;
}

#desafio .cards {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#desafio .cards .card {
    width: 100%;
    text-align: left;

    border: 1px solid #ffffff6c;
    background: #161616;
    padding: 2rem;
    border-radius: 2rem;
}

#desafio .cards .card img {
    margin-bottom: 2rem;
    width: 5rem;
}

#desafio .cards .card h3 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1rem;
}

#desafio .cards .card p {
    color: #c4c4c4;
    font-size: 1.6rem;
    font-weight: 300;
}

#desafio .cards .card p span {
    font-weight: 500;
    color: #c8c8c8;
}

@media (min-width: 1080px) {
    section#desafio .content .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}