#localizacao iframe {
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
}

@media (min-width: 1080px) {
    section#localizacao header {
        text-align: left;
        display: flex;
        align-items: start;
    }
}