
#contato {
    overflow: hidden;
    position: relative;
}

#contato form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 4rem;
    margin-bottom: 1rem;
}

#contato form input,
#contato form textarea {
    width: 100%;
    background: #000000a9;
    border: 1px solid #111111;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
}

@media (min-width: 1080px) {
    section#contato .content {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        align-items: center;
        gap: 8rem;
    }

    section#contato .content form {
            margin-top: 0;
            margin-bottom: 0;
        align-items: start;
        justify-content: start;
    }

    section#contato .content header h2 {
        text-align: left;
        margin-top: -2rem;
        font-size: 4.5rem;
    }
}