#imigracao {
    overflow: hidden;
    position: relative;
    padding-block: 10rem;
}

#imigracao img.bg {
    width: 120%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#imigracao img.bg.mobile {
    left: -10%;
    filter: brightness(.9);
}

#imigracao .content {
    display: flex;
    align-items: end;
    justify-content: end;
}

#imigracao img.bg.desktop {
    display: none;
}

#imigracao header {
    position: relative;
    text-align: right;
    width: 80%;
}

#imigracao header h2 {
    color: #000000;
    margin-bottom: 1rem;
}

#imigracao header .topics {
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

#imigracao header .topics .topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

#imigracao header .topics .topic ion-icon {
    transform: rotate(180deg);
    font-size: 1rem;
    min-width: .5rem;
    width: .5rem;
    height: .5rem;
    min-height: .5rem;
    color: #000000;
}

#imigracao header .topics .topic p {
    color: #000;
    font-weight: 500;
    text-align: right;
    margin-top: -.5rem;
    font-size: 1.6rem;
}

@media (min-width: 1080px) {
    section#imigracao img.bg.desktop {
        display: inherit;
    }

    section#imigracao img.bg.mobile {
        display: none;
    }

    section#imigracao header h2 {
        font-weight: 300;
        width: 70%;
    }

    section#imigracao header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-left: 50%;
    }
}